<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sName</key>
		<string>acaraje</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<true/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>aceite</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<true/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>acelga</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>aguacate</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>alcachofa</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>aligot</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<true/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>almendra</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<true/>
	</dict>
	<dict>
		<key>sName</key>
		<string>apio</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>arandano</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>arroz</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<true/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>arroz integral</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<true/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<true/>
	</dict>
	<dict>
		<key>sName</key>
		<string>avellana</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>avena</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<true/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>berenjena</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>berro</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<true/>
	</dict>
	<dict>
		<key>sName</key>
		<string>brocoli</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<true/>
	</dict>
	<dict>
		<key>sName</key>
		<string>cacahuate</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>cacao en polvo</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<true/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>calabacin</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>caldo del ramen</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<true/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>carambola</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>castana</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>cebada</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<true/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>cebolla</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>cebollin</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>centeno</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<true/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>cereal dulce</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<true/>
		<key>bSugar</key>
		<true/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>cereza</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>champinon</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>chistorra</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<true/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>chocolate</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<true/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>chirimoya</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>churro</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<true/>
		<key>bFat</key>
		<true/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>ciruela</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>coco</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>col china</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<true/>
	</dict>
	<dict>
		<key>sName</key>
		<string>col rizada</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<true/>
	</dict>
	<dict>
		<key>sName</key>
		<string>col de bruselas</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>colinabo</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>collard verde</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<true/>
	</dict>
	<dict>
		<key>sName</key>
		<string>crepa</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<true/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>datil</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>diente de leon</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>esparrago</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>foie gras</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<true/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>frambuesa</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>fresa</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>fruta de la pasion</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>galleta dulce</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<true/>
		<key>bFat</key>
		<true/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>golosina</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<true/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>grosella</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>guisante</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>haba</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<true/>
	</dict>
	<dict>
		<key>sName</key>
		<string>hamburguesa</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<true/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>higo</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>jarabe de maiz</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<true/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>kamut</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<true/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>khachapuri</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<true/>
	</dict>
	<dict>
		<key>sName</key>
		<string>kiwi</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>leche</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<true/>
		<key>bCalcium_Rich</key>
		<true/>
	</dict>
	<dict>
		<key>sName</key>
		<string>lechuga</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>limon</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>litchi</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>longaniza</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<true/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>maiz</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<true/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>malteada</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<true/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>mandarina</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>mango</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>mantequilla</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<true/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>manzana</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>margarina</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<true/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>melocoton</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>melon</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>mermelada</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<true/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>mijo</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<true/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>nabo</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>naranja</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<true/>
	</dict>
	<dict>
		<key>sName</key>
		<string>nectarina</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>nuez</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>okra</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<true/>
	</dict>
	<dict>
		<key>sName</key>
		<string>palmito</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>pan enriquecido</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<true/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>papaya</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>pastel</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<true/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>pera</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>pimiento</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>pina</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>pistacho</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>pizza</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<true/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>platano</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>pollo frito</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<true/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>pomelo</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>postre</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<true/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>puerro</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>queso</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<true/>
		<key>bCalcium_Rich</key>
		<true/>
	</dict>
	<dict>
		<key>sName</key>
		<string>rabano</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>refresco</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<true/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>salami</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<true/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>salchicha</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<true/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>sandia</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>sardina</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<true/>
	</dict>
	<dict>
		<key>sName</key>
		<string>sorgo</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<true/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>sorgo</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<true/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>soya fortificada</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<true/>
	</dict>
	<dict>
		<key>sName</key>
		<string>tocino</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<true/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>tomate</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>trigo</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<true/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>uva</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>yogur</string>
		<key>bFruitOrVegetable</key>
		<false/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<true/>
	</dict>
	<dict>
		<key>sName</key>
		<string>zanahoria</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
	<dict>
		<key>sName</key>
		<string>zarzamora</string>
		<key>bFruitOrVegetable</key>
		<true/>
		<key>bCereal</key>
		<false/>
		<key>bSugar</key>
		<false/>
		<key>bFat</key>
		<false/>
		<key>bCalcium_Rich</key>
		<false/>
	</dict>
</array>
</plist>
